apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "chart.fullname" . }}
spec:
  selector:
    matchLabels:
      {{- include "kafka.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "kafka.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: kafka
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - name: kafka
              protocol: TCP
              containerPort: 9092
          env:
            - name: CLUSTER_ID
              value: "TestClusterId"
            - name: KAFKA_NODE_ID
              value: "1"
            - name: KAFKA_PROCESS_ROLES
              value: "broker,controller"
            - name: KAFKA_LISTENERS
              value: "LOCALHOST://localhost:9095,PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093"
            - name: KAFKA_ADVERTISED_LISTENERS
              value: "LOCALHOST://localhost:9095,PLAINTEXT://{{ .Values.service.name }}:{{ .Values.service.port }}"
            - name: KAFKA_CONTROLLER_LISTENER_NAMES
              value: "CONTROLLER"
            - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
              value: "LOCALHOST:PLAINTEXT,CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
            - name: KAFKA_CONTROLLER_QUORUM_VOTERS
              value: "1@localhost:9093"
            - name: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
              value: "1"
            - name: KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR
              value: "1"
            - name: KAFKA_TRANSACTION_STATE_LOG_MIN_ISR
              value: "1"
            - name: KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS
              value: "0"
            - name: KAFKA_NUM_PARTITIONS
              value: "1"
            - name: KAFKA_TOPICS
              value: {{ .Values.topics | join "," }}
          volumeMounts:
            - name: init-scripts
              mountPath: /init-scripts
              readOnly: true
          lifecycle:
            postStart:
              exec:
                command: ["/bin/sh", "-c", "/init-scripts/init.sh > /proc/1/fd/1 2>&1"]
      volumes:
      - name: init-scripts
        configMap:
          name: {{ include "chart.fullname" . }}-init-scripts
          defaultMode: 0555
