apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kafka.fullname" . }}
spec:
  selector:
    matchLabels:
      {{- include "kafka.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "kafka.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: kafka
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - name: kafka
              containerPort: 9092
              protocol: TCP
          env:
            - name: CLUSTER_ID
              value: "TestClusterId"
            - name: KAFKA_NODE_ID
              value: "1"
            - name: KAFKA_PROCESS_ROLES
              value: "broker,controller"
            - name: KAFKA_LISTENERS
              value: "PLAINTEXT://localhost:9092,CONTROLLER://localhost:9093"
            - name: KAFKA_ADVERTISED_LISTENERS
              value: "PLAINTEXT://localhost:9092"
            - name: KAFKA_CONTROLLER_LISTENER_NAMES
              value: "CONTROLLER"
            - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
              value: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
            - name: KAFKA_CONTROLLER_QUORUM_VOTERS
              value: "1@localhost:9093"
            - name: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
              value: "1"
            - name: KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR
              value: "1"
            - name: KAFKA_TRANSACTION_STATE_LOG_MIN_ISR
              value: "1"
            - name: KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS
              value: "0"
            - name: KAFKA_NUM_PARTITIONS
              value: "1"
            - name: KAFKA_LOG4J_OPTS
              value: "-Dlog4j.logger.kafka.server.ReplicaManager=INFO,-Dlog4j.logger.kafka.coordinator.group.GroupCoordinator=INFO"
          volumeMounts:
            - name: init-scripts
              mountPath: /init-scripts
              readOnly: true
          lifecycle:
            postStart:
              exec:
                # Execute on init, print output to container stdout prefixing each line with '[init.sh] '.
                command: ["/bin/sh", "-c", "/init-scripts/init.sh | sed 's/^/[init.sh] /' > /proc/1/fd/1 2>&1"]
      volumes:
      - name: init-scripts
        configMap:
          name: {{ include "kafka.fullname" . }}-init-scripts
          defaultMode: 0555
